<!DOCTYPE HTML>
<html lang="en">
<head>
    <title>SAM by Computerization</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/framework/geodesic/base.css" type="text/css">
    <link rel="stylesheet" href="/static/framework/geodesic/settings.css" type="text/css">
    <link rel="stylesheet" href="/static/framework/sam/main.css" type="text/css">

    <script src="/static/framework/js/jq.js"></script>
    <script src="/static/framework/js/form.js"></script>
    <script src="/static/framework/js/masonry.js"></script>

    <script src="/static/framework/sam/base.js"></script>
    <script src="/static/framework/sam/classes.js"></script>
</head>

<body>
    <div class="banner">
        <p id="left-banner">
            <img src="/static/framework/sam/SAM_logo.svg" />
            <span><lead>S</lead>AM <small>by Computerization</small></span>
        </p>
        <a id="apps-menu" onclick="showApps();">
            <i style="height: 40px;line-height: 40px;" class="material-icons">apps</i>
        </a>
        <img id="avatar" src="/static/framework/material-images/user.png" height="40px">
    </div>
    <div id="apps-menu-detail" style="display: none;" aria-label="Apps" aria-hidden="false" role="region">
        <ul class="list-apps" aria-dropeffect="move">
            <li class="drag" id="app-assignment">
                <a class="app" onclick="showModule('dashboard')">
                    <span class="app-img" style="background-image: url('/static/files/icons/assignments.svg');background-size: 64px 64px;"></span>
                    <span class="app-desc"><div style="margin: 0 auto;">Assignments</div></span>
                </a>
            </li>

            <li class="drag" id="app-settings">
                <a class="app" onclick="showModule('settings')">
                    <span class="app-img" style="background-image: url('/static/files/icons/setting.svg');background-size: 64px 64px;"></span>
                    <span class="app-desc"><div style="margin: 0 auto;">Settings</div></span>
                </a>
            </li>
        </ul>
    </div>

    <div id="classes">
        <div id="classList" class="class-content">
            {% for class in classes %}
            <div class='class-list' onclick='openViewClassPanel({{ class.id }});'>
                <h2> {{ class.teacher.subject }} </h2>
                <div> {{ class.name }} <i>(ID: {{ class.id }})</i></div>
            </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>
