<!DOCTYPE HTML>
<html lang="en">
<head>
    <title>SAM by Computerization</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/framework/geodesic/base.css" type="text/css">
    <link rel="stylesheet" href="/static/framework/geodesic/settings.css" type="text/css">
    <link rel="stylesheet" href="/static/framework/sam/main.css" type="text/css">

    <script src="/static/framework/js/jq.js"></script>
    <script src="/static/framework/js/form.js"></script>
    <script src="/static/framework/js/masonry.js"></script>

    <script src="/static/framework/sam/base.js"></script>
    <script src="/static/framework/sam/settings.js"></script>
</head>

<body>
    <div class="banner">
        <p id="left-banner">
            <img src="/static/framework/sam/SAM_logo.svg" />
            <span><lead>S</lead>AM <small>by Computerization</small></span>
        </p>
        <a id="apps-menu" onclick="showApps();">
            <i style="height: 40px;line-height: 40px;" class="material-icons">apps</i>
        </a>
        <img id="avatar" src="/static/framework/material-images/user.png" height="40px">
    </div>
    <div id="apps-menu-detail" style="display: none;" aria-label="Apps" aria-hidden="false" role="region">
        <ul class="list-apps" aria-dropeffect="move">
            {% if user_type == 's' %}
            <li class="drag" id="app-assignment">
                <a class="app" onclick="showModule('dashboard')">
                    <span class="app-img" style="background-image: url('/static/files/icons/assignments.svg');background-size: 64px 64px;"></span>
                    <span class="app-desc"><div style="margin: 0 auto;">Assignments</div></span>
                </a>
            </li>
            {% endif %}

            <li class="drag" id="app-classes">
                <a class="app" onclick="showModule('classes')">
                    <span class="app-img" style="background-image: url('/static/files/icons/classes.svg');background-size: 64px 64px;"></span>
                    <span class="app-desc"><div style="margin: 0 auto;">Classes</div></span>
                </a>
            </li>
        </ul>
    </div>

    <div id="settings">
        <div class="">
            <h2 class="">Change Email</h2>
            <div>
                Set up your own email address. <br />
                You need your email address to receive your reset password email confirmation.
            </div>
            <div class="">
                <input class="input-text" type="email" id="newEmail" placeholder="Your new email"/>
                <label class="input-text" for="newEmail"></label>
            </div>
            <div class="button">
                <a class="a-button" onclick="changeEmail()">
                    Change Email
                </a>
            </div>
        </div>
        <div class="">
            <h2 class="">Change Password</h2>
            <div>Please set up a strong password for yourself.</div>
            <div class="">
                <input class="input-text" type="password" id="oldPass" placeholder="Old Password"/>
                <label class="" for="oldPass">Old Password</label>
            </div>
            <div class="">
                <input class="input-text" type="password" id="newPass1" placeholder="Your new password"/>
                <label class="" for="newPass1">Your new password</label>
            </div>
            <div class="">
                <input class="input-text" type="password" id="newPass2" placeholder="Retype your new password"/>
                <label class="" for="newPass2">Retype your new password</label>
            </div>
            <div class="button">
                <a class="a-button" onclick="changePassword()">
                    Change Password
                </a>
            </div>
        </div>
        <div class="" >
            <h2 class="c">More</h2>
            <div class="">Computerization Proudly Present</div>
            <div class="">Version 16.11.23</div>
            <a class="a-button" onclick="window.location.href='/logout'">
                Sign Out
            </a> -
            <a class="a-button" onclick="window.location='mailto:jedi.primer@yandex.com'">
                Bug Report
            </a>
        </div>
        {% csrf_token %}
    </div>
</body>
<script>
    {% if alert %}
    alert("Old Password is Incorrect");
    {% endif %}
</script>
</html>